@tailwind base;
@tailwind components;
@tailwind utilities;

$screen-xs: 640px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xl: 1536px;

@layer base {
  :root {
    --main-color: 166 91% 30%;
    --secondary-color: 28 73% 66%;

    --background: 48 38% 97%;
    --foreground: 0 0% 10%;

    --muted: var(--secondary-color);
    --muted-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: var(--main-color);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 28 64% 88%;
    --card-foreground: 210 4% 31%;

    --primary: var(--main-color);
    --primary-foreground: 28 94% 86%;

    --secondary: var(--secondary-color);
    --secondary-foreground: var(--main-color);

    --accent: var(--secondary-color);
    --accent-foreground: 31 47% 63%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --space-xs: 1rem;
    --space-sm: 2rem;
    --space-md: 4rem;
    --space-lg: 8rem;
  }

  .dark {
    --background: 166 20% 4%;
    --foreground: 213 31% 91%;

    --muted: 28 73% 66%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 166 20% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 166 91% 30%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 28 73% 66%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

h1 {
  font-size: 3.125rem;
  font-family: "Times New Roman", Times, sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, sans-serif;
}
p {
  font-size: 1.375rem;
}

@media (max-width: $screen-lg) {
  :root {
    --space-sm: 2rem;
    --space-md: 4rem;
    --space-lg: 8rem;
  }
  h1 {
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, sans-serif;
  }
}

@media (max-width: $screen-md) {
  :root {
    --space-lg: 6rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: $screen-sm) {
  :root {
    --space-xs: 0.6rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
  }
  h1 {
    font-size: 1.825rem;
  }
  h2 {
    font-size: 1.375rem;
  }

  p {
    font-size: 1.125rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
